body {
  background-color: black;
  color: white;
  min-width: 320px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  width: 100vw;
  height: 3em;
  background-color: rgb(75, 0, 145);
  display: flex;
  justify-content: center;
}

.navbarContent {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarTitle {
  color: white;
  margin: auto 0;
  padding-left: 25px;
}

.navbarOptions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbarOptions h2 {
  color: rgba(255, 255, 255, 0.877);
  font-size: medium;
  margin-right: 5%;
}

.navbarOptions h2:hover {
  cursor: pointer;
  color: white;
}

.navbarIcon {
  fill: white;
  padding-right: 25px;
  width: 30px;
  height: 30px;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.containerBackground {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: blur(3px) brightness(0.3);
}


@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media (max-width: 768px) {
  .navbarOptions {
    display: none;
  }

  .navbarIcon {
    display: flex;
  }
}
