body {
  background-color: black;
  color: white;
  min-width: 320px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dialog[open]{
  display: flex;
  align-items: start;
  justify-content: end;
}

dialog:modal {
  max-width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.containerBackground {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: blur(3px) brightness(0.2);
}

main {
  z-index: 2;
  width: 100%;
  max-width: 1280px;
  animation: fade 2s;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}


@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}